In [4]:
print("Nicolas de Sousa")

Nicolas de Sousa

In [5]:
True

True

# TIPOS DE DADOS

### STRING

In [6]:
print('esse é um texto de aspas simples.')
print("esse é um texto de aspas duplas")
print('''esse é um texto de aspas triplas simples''')
print("""esse é um texto de aspas triplas duplas.""")

esse é um texto de aspas simples.
esse é um texto de aspas duplas
esse é um texto de aspas triplas simples
esse é um texto de aspas triplas duplas.

### CASOS ESPECIAS DAS STRINGS

ESCAPE CHARACTER

In [10]:
"\"don´t look at me!"

'"don´t look at me!'

In [12]:
"DOnt´t look at me!" #invisible() characters

'DOnt´t look at me!'

#### Para inserir aspas dentro de um texto dve-se colocar barra invertida antes das aspas jutamente com "invisible() characters" após a frase.

In [15]:
print("\'don´t look at me!") #invisible() characters

'don´t look at me!

# DESAFIO 1: Em duias linhas, imprima boas vindas ao usário.

### Resposta:

In [17]:
dados =  input("Digite seu nome e sua idade: ").split()
print(f"Olá {dados[0]}.\nSua idade é {dados[1]}")

Digite seu nome e sua idade: Nicolas 16
Olá Nicolas.
Sua idade é 16.

#### nesse código utilizamos o método de indexação com o .split() que quebra o texto quando inseriumos espaço.

In [ ]:
dados = input("Digite seu nome e sua idade: ").split()
print("Olá {}.\nSua idade é {}.".format(dados[0], dados[1]))

### SPLIT

In [2]:
"nome,idade,cpf,email".split()

['nome,idade,cpf,email']

In [4]:
"nome,idade,cpf,email".split(",")

['nome', 'idade', 'cpf', 'email']

##### Separando os elementos com uma vírgula.

## MANIPULANDO STRINGS/TEXTO

In [13]:
estados = """
COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES
"""
print(estados)

COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES

In [20]:
estados.split("\n")

['',
 'COD,NOME,SIGLA',
 '35,São Paulo, SP',
 '41,Paraná, PR',
 '42,Santa Catarina, SC',
 '43,Rio Grande do Sul, RS',
 '50,Mato Grosso do Sul, MS',
 '11,Rondônia, RO',
 '12,Acre, AC',
 '13,Amazonas, AM',
 '14,Roraima, RR',
 '15,Pará, PA',
 '16,Amapá, AP',
 '17,Tocantins, TO',
 '21,Maranhão, MA',
 '24,Rio Grande do Norte, RN',
 '25,Paraíba, PB',
 '26,Pernambuco, PE',
 '27,Alagoas, AL',
 '28,Sergipe, SE',
 '29,Bahia, BA',
 '31,Minas Gerais, MG',
 '33,Rio de Janeiro, RJ',
 '51,Mato Grosso, MT',
 '52,Goiás, GO',
 '53,Distrito Federal, DF',
 '22,Piauí, PI',
 '23,Ceará, CE',
 '32,Espírito Santo, ES',
 '']

In [22]:
alunos = """
'Nicolas A.',
'Pablo',
'Raquel',
'Patrick',
'Lucas',
"""

In [24]:
alunos

"\n'Nicolas A.',\n'Pablo',\n'Raquel',\n'Patrick',\n'Lucas',\n"

In [28]:
alunos.split("\n")

['', "'Nicolas A.',", "'Pablo',", "'Raquel',", "'Patrick',", "'Lucas',", '']

In [31]:
alunos.index("Nicolas A.")

2

### Outros tipos de String/Texto

In [ ]:
r"raw-string" # texto sec, cru, literal

## LISTAS - Mutáveis

In [35]:
frutas = ["tomate", "maçã", "morango", "banana", "pêra", "pêssego"] 
print(frutas[len(frutas)-1])

pêssego

In [39]:
nome, sobrenome = input("Digite seu nome e sobrenome: ").split()
print(f"{nome[0]} {sobrenome[0]}")

Digite seu nome e sobrenome: Nicolas Alves
N A

In [2]:
nome, sobrenome = input("Digite seu nome e sobrenome: ").split()
print(nome[0] + sobrenome[0])

Digite seu nome e sobrenome: Nicolas de Sousa Alves

ValueError: too many values to unpack (expected 2)

In [3]:
nome, sobrenome = input("Digite seu nome e sobrenome: ").split()
print(nome[0], sobrenome[0], sep=".")

Digite seu nome e sobrenome: Nicolas Alves
N.A

# FUNÇÕES

## Criando funções próprias

* função dummy

In [5]:
def minha_funcao():
    pass

In [9]:
# parâmetro 

def func2(parametro1, parametro2):
    return(parametro1 + parametro2)
    
func2("olá", "talvez")

'olátalvez'

In [11]:
def func2(parametro1="Olá", parametro2=""):
    return(parametro1 + parametro2)
    
valor = func2(parametro2='COISAS')
print(valor)

OláCOISAS

In [1]:
num = int(input("Digite um Número"))
if(num%2) == 0:
    print('Par')
else:
    print('Impar')

Digite um Número55
Impar

In [2]:
range(0, 51)
num = int(input("Digite um Número: "))
if(num%2) == 0:
    print('Par')
else:
    print('Impar')

Digite um Número55
Impar

In [ ]:
num = int(input("Digite um Número"))
if(num%2) == 0:
    print('Par')
else:
    print('Impar')